.card {
    width: 500px;
    height: fit-content;
    background-color: rgb(0, 136, 255);
    border: 15px solid rgb(200, 255, 0);
    border-radius: 15px;
    margin: 15px;
}

.box {
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 50%;
}

img {
    height: 100%;
    width: 100%;
}

.text {
    font-family:sans-serif;
}

.main-color {
    color: rgb(255, 0, 234);
}

.title {
    font-size: 35px;
}